aside.menu-area {
    background-color:  #fefeff;
    box-shadow: var(--shadow);
}

.menu a {
    display: block;
    text-decoration: none;
    color: #0176c5;
    font-weight: 300;
    padding: 15px;
}

.menu a:hover {
    background: linear-gradient(100deg, #0176c5 0%, #ffffff 100%);
    color: #ffffff;
}